button.root {
  background-color: var(--neutral-dgb);
  border-color: transparent;
  border-radius: 4rem;
  color: var(--neutral-w);
  font-size: 20px;
  font-weight: 700;
  height: 5rem;
  outline-color: transparent;
  width: 100%;
  &:hover {
    background-color: hsl(241, 81%, 54%);
    cursor: pointer;
  }
  @media (min-width: 667px) {
    margin-top: 2rem;
  }
}
