section.root {
  background-color: var(--neutral-w);
  border-radius: 2.5rem;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 100%;
  grid-template-rows: 45% 55%;
  height: 100%;
  text-align: center;
  width: 100%;
  & > div.body {
    background-color: var(--neutral-w);
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    grid-column: 1;
    grid-row: 2;
    padding: 2rem 2rem 1rem 2rem;
    & > h2.summary {
      cursor: default;
      font-size: 2rem;
      text-align: left;
      padding-bottom: 1rem;
    }
  }
  @media (min-width: 667px) {
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    & > div.body {
      grid-column: 2;
      grid-row: 1;
    }
  }
}
